
#body {
    background-color: rgb(236, 246, 255);
}

#header {
    background-color:rgb(178, 218, 253);
    font-family: ;
}

#intro {
 background-color:rgb(213, 213, 213);
 font-family: ;
}

#paragraph {
    background-color: rgb(153, 231, 255);
    font-family: ;
}

#cards {
    background-color: rgb(178, 218, 253);
    font-family: ;
}
