
#body {
    background-color: rgb(236, 246, 255);
}

#header {
    background-color:rgb(178, 218, 253);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

#intro {
 background-color:rgb(213, 213, 213);
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

#paragraph {
    background-color: rgb(153, 231, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

#cards {
    background-color: rgb(178, 218, 253);
    font-family:'Times New Roman', Times, serif ;
}

#carousel {
    background-color: rgb(249, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
